@import '/src/styles/media-quary';


body{
  margin: auto;
  text-align: center;  
  font-family: Helvetica, sans-serif;

}

.header {
  margin: 10px auto;
  @include desktop{
    margin-top: 5%;
  }
}


.container{

  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
  gap: 20px;
  

  @include mobile-2{
    grid-template-columns: repeat( auto-fit, minmax(440px, 1fr) );

  }
  
  @include tablet{
    grid-template-columns: repeat( auto-fit, minmax(480px, 1fr) );

  }

  @include laptop{
    margin-top: 10%;
  }

  @include desktop{
    margin-top: 10%;
    grid-template-columns: repeat( auto-fit, minmax(780px, 1fr) );
  }
  
  .box{
    margin:  0 auto;
    height: 180px;
    width: 190px;
    resize: none;
    border-radius: 8px;
    font-size: 30px;
    padding: 20px 40px;
    max-width: 250px;
    box-shadow: -4px 10px 35px -1px rgba(0, 0, 0, 0.75);
    font-size: 20px;
    
    @include mobile{
      height: 200px;
    }

    @include tablet{
      max-width: 400px;
      height: 300px;
      width: 400px;
      font-size: 30px;
    } 
    @include desktop{
      max-width: 700px;
      height: 400px;
      width: 700px;
      font-size: 35px;
      padding: 30px 40px;

    }
  }

  .box--left{
    position: relative;

    .btn1{
      position:absolute;
      bottom: 20px;
      right: 210px;
      left: 0px;
      width: 50px;
      background: transparent;
      border-style: none;
      margin: auto;

      .fa-microphone{
        color: lightsalmon;
      }
    
      &:hover{
        color: lightblue;
      }

      @include tablet{
        right: 400px;
        
      }
      @include desktop{
        right: 680px;
      }
    }
    
    .btn2{
      
      position:absolute;
      top: 15px;
      right: 0px;
      left: 230px;
      width: 40px;
      border-radius: 10px;
      background: transparent;
      border-style: none;
      margin: auto;

  
      &:hover{
        color: lightsalmon;
      }

      @include tablet{
        left: 420px;
      } 
      @include desktop{
        left: 680px;
      }
      
    }

  }
}



